# Files created when running setup.sh script
.setup_completed
get-pip.py

# Backup files created by config.sh script
.bashrc.*.backup
.bash_aliases.*.backup
.bash_profile.*.backup
.dircolors.*.backup
.gdbinit.*.backup
.tmux.conf.*.backup
.vimrc.*.backup
